//  Linker command file for LCDlib regression tests (16F819)
// $Id: Regression_819.lkr,v 2.2 2008-03-09 09:25:48-04 jjmcd Exp $

LIBPATH  .

CODEPAGE   NAME=vectors    START=0x0      END=0x3      PROTECTED
CODEPAGE   NAME=isr        START=0x4      END=0x3f     PROTECTED
CODEPAGE   NAME=tables     START=0x700    END=0x7ff     PROTECTED
CODEPAGE   NAME=page       START=0x40     END=0x5ff
CODEPAGE   NAME=lcdlib     START=0x600    END=0x06ff    PROTECTED
CODEPAGE   NAME=.idlocs    START=0x2000   END=0x2003   PROTECTED
CODEPAGE   NAME=.device_id START=0x2006   END=0x2006   PROTECTED
CODEPAGE   NAME=.config    START=0x2007   END=0x2009   PROTECTED
CODEPAGE   NAME=eedata     START=0x2100   END=0x21FF   PROTECTED

DATABANK   NAME=sfr0       START=0x0      END=0x1F     PROTECTED
DATABANK   NAME=sfr1       START=0x80     END=0x9F     PROTECTED
DATABANK   NAME=sfr2       START=0x100    END=0x11F    PROTECTED
DATABANK   NAME=sfr3       START=0x180    END=0x19F    PROTECTED

DATABANK  NAME=gpr0 START=0x20     END=0x6F

SHAREBANK  NAME=gprnobnk1  START=0x70     END=0x7F
SHAREBANK  NAME=gprnobnk1  START=0xF0     END=0xFF
SHAREBANK  NAME=gprnobnk1  START=0x170    END=0x17F
SHAREBANK  NAME=gprnobnk1  START=0x1F0    END=0x1FF

SECTION    NAME=STARTUP    ROM=vectors    // Reset and interrupt vectors
SECTION    NAME=PROG       ROM=page       // ROM code space 
SECTION    NAME=IRQSVC     ROM=isr        // Interrupt service routine
SECTION    NAME=TABLES     ROM=tables     // Message tables 
SECTION    NAME=LCDLIB     ROM=lcdlib     // LCD library
SECTION	   NAME=IDLOCS     ROM=.idlocs    // ID locations
SECTION	   NAME=DEVICEID   ROM=.device_id // ID locations
SECTION    NAME=CONFIG     ROM=.config    // Configuration bits location
SECTION    NAME=DEEPROM    ROM=eedata     // Data EEPROM
