// Linker command file for Lesson 20 (16F84A)
// $Id: Less20.lkr,v 1.10 2006-09-02 08:47:15-04 jjmcd Stab $

LIBPATH  .

CODEPAGE   NAME=vectors  START=0x0      END=0x3      PROTECTED
CODEPAGE   NAME=isr      START=0x4      END=0x3f     PROTECTED
CODEPAGE   NAME=tables   START=0x40     END=0xff     PROTECTED
CODEPAGE   NAME=mylib    START=0x100    END=0x1ff    PROTECTED
CODEPAGE   NAME=page     START=0x200    END=0x2ff
CODEPAGE   NAME=lcdlib   START=0x300    END=0x3FF    PROTECTED
CODEPAGE   NAME=.idlocs  START=0x2000   END=0x2003   PROTECTED
CODEPAGE   NAME=.config  START=0x2007   END=0x2007   PROTECTED
CODEPAGE   NAME=eedata   START=0x2100   END=0x213F   PROTECTED

DATABANK   NAME=sfr0     START=0x0      END=0xB      PROTECTED
DATABANK   NAME=sfr1     START=0x80     END=0x8B     PROTECTED

DATABANK   NAME=gprs     START=0xC      END=0x4F

SECTION    NAME=STARTUP  ROM=vectors    // Reset and interrupt vectors
SECTION    NAME=PROG     ROM=page       // ROM code space 
SECTION    NAME=IRQSVC   ROM=isr        // Interrupt service routine
SECTION    NAME=MYLIB    ROM=mylib      // Replacement library
SECTION    NAME=TABLES   ROM=tables     // Message tables 
SECTION    NAME=LCDLIB   ROM=lcdlib     // LCD library
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations
SECTION    NAME=CONFIG   ROM=.config    // Configuration bits location
SECTION    NAME=DEEPROM  ROM=eedata     // Data EEPROM
